body
{
    margin: 0;
}
#logo
{
    width: 2.5rem;
    position: relative;
}
.container
{
    display: grid;
    height: 100vh;
    grid-template-columns: .10fr .6fr 1.3fr .6fr;
    grid-template-rows: 1.3fr .8fr;
    grid-template-areas:
        "sidebar content1 content2 content4"
        "sidebar content1 content3 content4";

}

#sidebar
{
    background-color: whitesmoke;
    grid-area: sidebar;
}

#sidebar2
{
    display: none;
}

#content1
{
    background-color: #eeeeee;
    grid-area: content1;
}
#content2
{
    background-color: whitesmoke;
    grid-area: content2;
}
#content3
{
    background-color: whitesmoke;
    grid-area: content3;
}
#content4
{
    background-color: #eeeeee;
    grid-area: content4;
}

#top
{
    position: relative;
    top: 1rem;
}
#middle
{
    position: relative;
    top: 5rem;
}
#bottom
{
    position: relative;
    top: 8rem;
}
.buttons
{
    color: #a6a6a4;
    font-size: 1.2rem;
    padding: .7rem;
    margin: .2rem 0;
}

.buttons:hover
{
    color: #0779e4;
}
#pic
{
    width: 6.5rem;
    padding: 1rem;
    margin: 0 1.5rem;
    float: left;

}
#name
{
    font-family: 'Della Respira', serif;
    padding: 2.5rem 2.5rem 0 2.5rem ;
    margin: 2rem 0 0 0;
}
#greet
{
    margin: 0;
    padding: 0 0 0 2.5rem;
}
h2, h3, h4
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
p
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: grey;
    font-size: small;
}
#account
{
    clear: left;
    height: 30rem;
    width: 17rem;
    padding: 0 0 0 4rem;
    font-size: small;
}
#compare
{
    position: relative;
    left: 4rem
}
.pie
{
    position: relative;
    left: 15rem;

}
#box
{
    float: left;
}
#strategy
{
    height: 15rem;
    width: 17rem;
    padding: 0 0 0 4rem;
}
.slider
{
    display: inline-block;
    width: 100%;
}
.value
{
    display: inline-block;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 16px 59px;
    border: 0px solid #f0f0f0;
    border-radius: 13px;
    background: #0e7ff0;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e7ff0), to(#0e80eb));
    background: -moz-linear-gradient(top, #0e7ff0, #0e80eb);
    background: linear-gradient(to bottom, #0e7ff0, #0e80eb);
    font: normal normal bold 16px arial;
    color: #ffffff;
    text-decoration: none;
}
.btn:hover,
.btn:focus {
    background: #1198ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#1198ff), to(#119aff));
    background: -moz-linear-gradient(top, #1198ff, #119aff);
    background: linear-gradient(to bottom, #1198ff, #119aff);
    color: #ffffff;
    text-decoration: none;
}
.btn:active {
    background: #084c90;
    background: -webkit-gradient(linear, left top, left bottom, from(#084c90), to(#0e80eb));
    background: -moz-linear-gradient(top, #084c90, #0e80eb);
    background: linear-gradient(to bottom, #084c90, #0e80eb);
}





@media (max-width: 600px)
{
    .container
    {
        height: 400vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "content1"
            "content2"
            "content3"
            "content4"
    }
    #sidebar
    {
        display: none;
    }
    #sidebar2
    {
        display: inline;
        background-color: whitesmoke;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 3.5rem;


    }
    #sidebar2 table
    {
        width: 100%;
    }


}

